<form class="form-container" [formGroup]="contactForm" (ngSubmit)="$event.preventDefault(); submitForm();">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" formControlName="nameControl">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" formControlName="emailControl">
    </div>
    <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" formControlName="messageControl"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="contactForm.invalid">Submit</button>
    </div>
</form>

